<!-- Info tab: Requirements, steps, and notes -->

<!-- Requirements section -->
<h5 class="fw-bold mt-2">Krav</h5>
<p>For at oprette et arrangement kræves nedenstående.</p>
<ul>
    <li>Du er administrator af den gruppe hvor arrangementet skal oprettes.</li>
    <li>Der findes en skabelon i gruppen.</li>
</ul>
<br>

<!-- Data section -->
<h5 class="fw-bold mt-4">Datahåndtering</h5>
<p>Dine indtastede data gemmes lokalt i cachen i din browser og selvfølgelig på Membersite. 
    Der gemmes intet data på serveren.</p>
<br>

<!-- Request changes section -->
<h5 class="fw-bold mt-4">Ændringsønsker?</h5>
<p>Hvis du har ændringsønsker, så kontakt Jonas Grønkjær. Hvis du har programmeringserfaring er 
    du også velkommen til selv at opdatere programmet i GitHub.</p>
<br>

<!-- Github -->
<h5 class="fw-bold mt-4">GitHub</h5>
<p>Hvis du ønsker validere at data håndteres korrekt eller ønsker selv at opdatere programmet, så kan 
    du finde koden på GitHub her:</p> 
<a href="https://github.com/Gronkjaer/DSR_Membersite_event_creator" target="_blank" rel="noopener noreferrer">
    https://github.com/Gronkjaer/DSR_Membersite_event_creator
</a>
<br>
<br>

<!-- Steps section -->
<h5 class="fw-bold mt-4">Trin</h5>
<p>Når du trykker på knappen "Opret arrangement" sker følgende i baggrunden.</p>
<ol>
    <li>Serveren åbner Membersite via en browser.</li>
    <li>Der logges ind på Membersite.</li>
    <li>Gruppe og skabelon vælges.</li>
    <li>Basisoplysninger indtastes (titel, tid og sted).</li>
    <li>Eventuel beskrivende tekst indtastes.</li>
    <li>Arrangementet gemmes.</li>
    <li>Hvis du har oprettet en gentagende begivenhed, så gentages trin 3-6.</li>
    <li>Browseren lukkes.</li>
</ol>
<br>

<!-- Last updated section -->
<br>
<br>
<p> Sidst opdateret: 23. maj 2026 kl. 13:30</p>
